[submodule "externals/tensorflow"]
	path = externals/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "externals/JUCE"]
	path = externals/JUCE
	url = https://github.com/juce-framework/JUCE
